---
import Layout from '@layouts/Layout.astro'

import { TableBooks } from '@components_functional/TableBooks'
---

<Layout title='I 💙 Learning'>
  <section class='px-2'>
    <!-- <a href='/languages'>Language</a> -->
    <a href='/read'>Read</a>
    <a href='/book/new'>Book</a>
  </section>

  <section>
    <TableBooks client:load />
  </section>
</Layout>
