---
import Layout from '@layouts/Layout.astro'

import { TableBooks } from '@components_functional/TableBooks'
---

<Layout title='I 💙 Learning'>
  <section>
    <TableBooks client:load />
  </section>
</Layout>
