---
import ReactText from '@services/ReactText.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <header class='p-2'>
    <h1>I 💙 Learning</h1>
  </header>
  <div class='grid grid-cols-2 gap-6 p-2 h-screen'>
    <ReactText />

    <section class='flex flex-col gap-y-2'>
      <div>Add a new word</div>
      <div class='w-full h-full'>
        <iframe
          src='https://www.wordreference.com/es/translation.asp?tranword=happy'
          class='w-full h-full'></iframe>
      </div>
    </section>
  </div>
</Layout>
