---
import { AddWord } from '@components_functional/AddWord'
import { ViewSelected } from '@components_functional/ViewSelected'
---

<section class='flex flex-col gap-y-2 h-full'>
  <AddWord client:load />

  <ViewSelected client:load />
</section>
